@import "./reset.css";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
/* Переменные в CSS */
:root {
    --container-width: 1270px;
    --container-padding: 15px;
    --secondary: rgba(15, 31, 28, 0.5);
}
body {
    font-family: 'Poppins', sans-serif;
    background-color: #F6F6F6;
    color: #0F1F1C;
}
.none {
    display: none !important;
}
.container {
    max-width: var(--container-width);
    padding: 0 var(--container-padding);
    margin: 0 auto;
}
/* Нестандартный контейнер, уходящий направо до конца */
.container-right {
    padding-left: calc( (100% - var(--container-width))/2 + var(--container-padding) );
}
.block {
    height: 200px;
    background-color: var(--secondary);
}
/* Header */
.header {
    overflow: hidden;
    padding-top: 44px;
    position: relative;
    min-height: 940px;
    color: #fff;
    background: linear-gradient(132.05deg, #428E5F -17.38%, #112120 78.4%), #204434;
}
.header a {
    color: inherit;
}
.header::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 96px;
    background-size: 100%;
    background-image: url(./../img/header/header-bottom.svg);
}
.header_top {
    margin-bottom: 86px;
}
.header_row {
    display: flex;
}
.header_content {
    max-width: 592px;
    position: relative;
    z-index: 1;
}
.header_img {
    position: relative;
    flex-grow: 1;
}
.header_img img {
    position: absolute;
    top: -181px;
    right: -87px;
    max-width: unset;
    width: 894px;
    height: 940px;
}
/* Nav */
.nav {
    display: flex;
    justify-content: space-between;
    column-gap: 80px;
    align-items: center;
}
.nav_list {
    display: flex;
    column-gap: 80px;
    font-size: 15px;
    font-weight: 500;
}
.nav_list a {
    position: relative;
}
.nav_list a.active::after,
.nav_list a:hover::after {
    content: "";
    display: block;
    /* width: 35px; */
    height: 4px;
    background-color: #C4C4C4;
    position: absolute;
    right: 10px;
    left: 0;
    bottom: -6px;
    border-radius: 100px;
}
.nav_login {
    display: flex;
    column-gap: 25px;
    font-size: 15px;
    font-weight: 500;
    align-items: center;
}
.btn {
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%), #FFFFFF;
    border-radius: 100px;
    padding: 13px 44px;
    color: #fff;
}
.btn:hover {
    color: rgb(223, 238, 146);
    transition: color 0.2s ease-in;
}
.btn:active {
    position: relative;
    top: 1px;
}
.logo {
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
}
/* Header content */
.header_badge {
    font-size: 18px;
    font-weight: 500;
    background: rgba(255, 255, 255, 0.25);
    border-radius: 15px;
    padding: 11px 30px;
    display: inline-block;
    margin-bottom: 7px;
}
.header_title {
    font-size: 55px;
    margin-bottom: 30px;
}
.header_text {
    margin-bottom: 68px;
    font-size: 25px;
    font-weight: 700;
    color: rgba(255, 255, 255, 0.5);
}
.header_btn {
    padding: 13px 44px;
    font-size: 25px;
    font-weight: 600;
    display: inline-block;
    background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%);
    border-radius: 27px; 
}
.header_btn:hover {
    color: rgb(223, 238, 146);
    transition: color 0.2s ease-in;
}
.header_btn:active {
    position: relative;
    top: 1px;
}
/* Секция Destinations */
.destinations {
    padding: 96px 0 100px;
    overflow-x: hidden;
}
.destinations_row {
    display: flex;
    column-gap: 50px;
}
.destinations_content {
    max-width: 456px;
}
.destinations_slider {
    width: 1110px;
    flex-shrink: 0;
}
.destinations_title {
    font-size: 55px;
    font-weight: 600;
    margin-bottom: 15px;
}
.destinations_title span {
    font-size: 30px;
}
.destinations_text {
    margin-bottom: 60px;
    font-size: 25px;
    font-weight: 500;
    color: var(--secondary);
}
/* Универсальная кнопка */
.btn_uni {
    color: #fff;
    padding: 25px 45px;
    font-size: 20px;
    font-weight: 600;
    display: inline-block;
    background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%);
    border-radius: 27px; 
}
.btn_uni:hover {
    color: rgb(223, 238, 146);
    transition: color 0.2s ease-in;
}
.btn_uni:active {
    position: relative;
    top: 1px;
}
/* Слайдер */
.slider {
    position: relative;
    height: 456px;
}
.slider_item {
    width: 335px;
    height: 402px;
    object-fit: cover;
    border-radius: 35px;
    transition: 0.2s ease-in;
    margin-top: 27px;
}
.slider .center .slider_item {
    width: 380px;
    margin-top: 0;
    height: 456px;
    border-radius: 35px;
}
.slider-btn {
    display: block;
    width: 68px;
    height: 68px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(129.54deg, #FF7B4E 15.57%, #FF584E 95.03%), #8B8B8B;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 9;
}
.slider-btn--prev {
    left: -27px;
}
.slider-btn--next {
    right: -27px;
}   
/* Customers */
.customers {
    padding: 100px 0 133px;
}
.customers_row {
    display: flex;
    /* justify-content: space-between; */
    column-gap: 68px;
}
.customers_img {
    min-width: 478px;
}
.customers_img img {
    border-radius: 60px;
}
.customers_title {
    font-weight: 500;
    font-size: 45px;
    line-height: 68px;
    margin-bottom: 35px;
}
.review {
    max-width: 490px;
}
.review_client {
    margin-bottom: 60px;
    display: flex;
    column-gap: 33px;
    align-items: center;
}
.review_text {
    margin-bottom: 30px;
    color: var(--secondary);
    font-size: 22px;
    font-weight: 500;
}
.review_client-avatar {
    width: 134px;
    height: 134px;
    border-radius: 50%;
    background-color: #FF794E;
    overflow: hidden;
}
.review_client-desc-name {
    font-weight: 500;
    line-height: 50px;
    font-size: 33px;
    margin-bottom: 10px;
}
.review_client-desc-country {
    font-size: 25px;
    color: var(--secondary);
}